*{
    margin: 0px;
    padding: 0px;
}
html,
body{
    position: relative;
}
body{
    overflow-y: auto;
    min-height: 100vh;
}
textarea:focus,
input:focus {
    outline: none;
}
a{
    color: inherit !important;
    text-decoration: none !important;
}
footer{
    background: whitesmoke;
    width: 100%;
    padding: 16px 0px;
    color: #999;
    vertical-align: bottom;
    /* margin-top: 940px; */
    margin-bottom: 1px 1px;
    text-align: center;
}
.container{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    position: absolute;
    /* gap: 10px; */
}
.tile{
    position: relative;
    height: 400px;
    width: 350px;
    /* position: relative;
    cursor: pointer; */
}
.tile img {
    /* object-fit: cover;
    background-size: cover;
    height: 50vh;
    width: 50vw;
    border-radius: 8px; */
    /* margin-block-end: 2px; */
    /* margin-right: 13px; */
} 
.tile img:hover{
    /* -webkit-filter: brightness(50%); */
}
.tile text{
    position: absolute;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.hero-image{
    background-image: url('./assets/hero-image.jpg');
    height: 43rem; 
    width: 100%;
    /* background-position: center;  */
    background-size: cover;
    position: relative;
    /* object-fit: contain; */
}
.hero-image img{
    width: 100%;
}
.hero-input {
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
    width: 80%;
    height: 50px;
    padding: 16px;
    border-radius: 8px;
    border: none;
}
.hero-subheading {
    font-size: 24px;
    font-weight: 100;
    
}
.container-fluid{
    display: flex;
    background-color:aquamarine;
    
}
.nav-link{
    margin-right: 36px;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.overlay{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.search{
    height: 40px;
    width: 90%;
    border-radius: 5px;
}
.nav-link{
    margin-right: 36px;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.overlay {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.5); 
    /* dark overlay */
}
.search{
    height: 40px;
    width: 90%;
    border-radius: 5px;
}
img {
    height: 100%;
    width: 100%;
    margin: 9px 6px;
    padding: 19px 55px;
}
img:hover{
    filter: brightness(70%);
    transform: scale(1.1);
    /* scale means element is scaled 10% larger than its original size(1.0) */
}
.car{
    position: relative;
    height: 400px;
    width: 350px;
}
.card-text{
    position: absolute;
    color: white;
    top: 70%;
    left: 35%;
}
/* margin means space outside element(between it & other elements) */
/* padding defines space inside element(between content & element's border) */